.dash-card-text{
  display: flex;
  width: 95%;
  margin: 10px;
  background-color: #FDFDFD;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 7px;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-right: 10%;
  padding-left: 10%;
  flex-direction:column;
  justify-content: center;
  margin-bottom: 50px;
}

.dash-card-title{
font-weight: bold;
display: flex;
width: 95%;
background-color: #6DD9D9;
box-shadow: 0 0 4px rgba(0,0,0,0.2);
border-radius: 7px;
padding: 3%;
flex-direction:column;
justify-content: center;
color: #2F3032;
opacity: 0.8;
}

// p{
// font-size: 18px;
// font-family: 'Open Sans', sans-serif;
// font-style: normal;
// color: black;
// text-align: justify;
// margin-top: 0px;
// }

.photo-dash{
  background-image: url(https://images.unsplash.com/photo-1613851825820-4f7d9927986c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=782&q=80);
  height: 100%;
}
