// Specific CSS for your home-page
p {
font-size: 18px;
font-family: 'Open Sans', sans-serif;
font-style: italic;
color: black;
justify-content: center;
}

.btn{
  font-family: 'Bakbak One';
  color: black;
  background-color: #6DD9D9;
  padding-inline: 100px;
  width: 100px;
  height: 100px;
}
