// Specific CSS for your home-page
p {
font-size: 18px;
font-family: 'Open Sans', sans-serif;
font-style: italic;
color: black;
justify-content: center;
text-align: center;
margin-top: 20px;
}

.btn-journey-customization{
  font-family: 'Bakbak One';
  font-size: 18px;
  color: black;
  background-color: #6DD9D9;
  width: auto;
  height: 100px;
  display: block;
  text-align: center;
  border-color: #C9EB2A;
}

.container{
  display: flex;
  flex-direction:column;
  height: 610px;
  width: 100vw;
  margin: 0;
}
