h1{
  font-size: 24px;
  font-style: bold;
  color: #6DD9D9;
  text-align: center;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
