h1{
  font-size: 24px;
  font-style: bold;
  color: #6DD9D9;
  text-align: center;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
}

.card-img-top {
width: 8rem;
height: 85px;
}

.card-text {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.contcard-group{
display: flex;
flex-direction: row;
padding: 0;
justify-content: space-evenly;
}

.card{
display: flex;
align-items: center;
height: 180px;
}

.btn-journey-customization{
  font-family: 'Bakbak One';
  font-size: 18px;
  color: black;
  background-color: #6DD9D9;
  width: 300px;
  height: 100px;
  //display: block;
  text-align: center;
  border: 1px solid #6DD9D9;
  border-radius: 10px;
}
