<h4>Hello traveller!</h4>
<br>
<h3>Your infos:</h3>
<br>
<%# <p>Name: <%= @user.full_name --> to be added once coded %>
<p>Your email:<%= @user.email %></p>
<br>
<h3>This are the bookings you have to accept or decline:</h3>
<br>
<h3>This are the bookings you accepted:</h3>
<br>
<h3>This are the journeys you created:</h3>
<br>
<h3>This are the journeys you booked for yourself:</h3>
<br>
