<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">
    <%= cl_image_tag("https://res.cloudinary.com/drwz0yg18/image/upload/v1639489958/noun-globe-4446666_lmiep2.png", width: 100, height: 100) %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-light">My account</button>
      </li>
        </div>
    </ul>
  </div>
</nav>

  <div class="container, d-grid gap-2 col-6 mx-auto">
   <br>
    <p> Whoever travels without a guide, needs two hundred years for a two-day journey.</p>
   <br/>

    <div class="d-grid gap-2 col-8 mx-auto">
      <br>
      <button type="button" class="btn btn-light"><strong>LOOK AT ALL THE JOURNEYS</strong></button>
      <br/>
      <br>
      <button type="button" class="btn btn-light"><strong>CREATE A NEW JOURNEY<strong></button>
      <br/>
    </div>
  </div>
