  <div class="container d-grid gap-1 col-12 mx-auto">
   <br>
    <p> Whoever travels without a guide, needs two hundred years for a two-day journey.</p>
   <br/>

    <div class="d-grid gap-2 col-6 mx-auto">
      <br>
      <button type="button" class="btn-journey-customization btn-lg"><strong>LOOK AT ALL THE JOURNEYS</strong></button>
      <br/>
      <br>
      <button type="button" class="btn-journey-customization btn-lg"><strong>CREATE A NEW JOURNEY<strong></button>
      <br/>
    </div>
  </div>
