  <div class="photo container d-grid gap-1 col-12">
   <br>
    <p> Whoever travels without a guide, needs two hundred years for a two-day journey.</p>
   <br/>

    <div class="contbut d-grid gap-2">
      <br>
      <%= link_to journeys_path do %>
        <button type="button" class="btn-journey-customization btn-lg"><strong>LOOK AT ALL THE JOURNEYS</strong></button>
      <% end %>
      <br>
      <br>
      <%= link_to new_journey_path do %>
      <button type="button" class="btn-journey-customization btn-lg"><strong>CREATE A NEW JOURNEY<strong></button>
      <% end %>
      <br/>
    </div>
  </div>
