.navbar-lewagon{
  display: flex;
  justify-content: space-between;
  //z-index: initial;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon {
  width: 100vw;
  background-color: black;

}

.navbar-brand img {
  width: 100px;
  height: 100px;
  background: #B682D9;
  justify-content: left;
}
