<h1> ALL THE JOURNEYS </h1>

<ul>
  <% @journeys.each do |journey| %>
    <li> 👉 <strong><%= link_to journey.title, journey_path(journey)  %></strong> |  "FUTURE PHOTO" </li>
    <strong>Journey duration:</strong> <%= journey.duration  %> minutes | <strong>Price:</strong> <%= journey.price  %> euros
  <% end %>
</ul>

<%= link_to "create a new journey", new_journey_path %>
