<h1> ALL THE JOURNEYS </h1>

<div class="contcard-group">
  <div class="card col-5">
    <img src="https://www.opera-online.com/media/images/picture/article/0000/0935/5176/xl_opera-de-marseille-saison-2019-2020.jpg?1556291209" class="card-img-top" alt="Opéra de Marseille">
    <div class="card-body">
      <% @journeys.each do |journey| %>
        <h2 class="card-title"><%= link_to journey.title, journey_path(journey) %></h2>
          <p class="card-text">
            <strong>Journey duration:</strong> <%= journey.duration  %> minutes | <strong>Price:</strong> <%= journey.price  %> euros
          </p>
        <br>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to new_journey_path do %>
<button class="btn-journey-customization mx-auto"><strong>CREATE A NEW JOURNEY</strong></button>
  <% end %>
